<!DOCTYPE html>

<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>huidige taal: <%= I18n.locale %></p>
<p class="notice"><%= notice %></p>
<p class=alert"><%= alert %></p>
  <% if current_user %>
  <%= link_to t("logout"),destroy_user_session_path, :method => :delete %>

    <% end -%>

<%= link_to "feedback", new_feedback_message_path %>

  <%= yield %>

</body>
</html>
